/* general styles */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
/* general styles */


/* showcase */
.showcase {
  position: relative;
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
}

.bg-img {
  position: absolute;;
  opacity: 0.5;
  height: 70vh;
  width: 100%;
}

/* navbar */
.show-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90%;
}

.logo {
  width: 25%;
}

.nav-button {
  background-color: red;
  border: 0;
  padding: 20px;
  color: white;
  border-radius: 10%;
  font-weight: bold;
  width: 8em;
}
/* navbar */
.show-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 90%;
  }

  h1 {
    font-size: 28px;
    margin: 5px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
  }

  .show-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email-insert {
    width: 90%;
    padding: 15px;
    margin: 10px;
  }

  .submit-button {
    background-color: red;
    border: none;
    width: 30%;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5%;
  }

/* showcase */

/* main */

.main-content {
  border-top: 5px solid rgb(99, 99, 99);
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 0 5% 0;
  height: 50vh;
}

.main-img {
  width: 20em;
}

.main-title {
  width: 20em;
}

/* main */

/* footer */

footer {
  border-top: 5px solid rgb(99, 99, 99);
  padding: 5%;
}

.footer-contantier {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content {
  list-style: none;
  text-align: left;
}

.footer-links {
  margin: 5px;
}

.footer-href {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.footer-href:hover {
  text-decoration: underline;
}
